body {
  font-family: "Verdana"
}

pre {
  color: blue;
  font-size = 30px;
}

h1 {
  color: purple;
}

h2 {
  color: blue;
}

h3 {
  color: orange;
}

styletest {
  color: blue;
}

death {
	font-family = Roboto;
	color: red;
	font-size: 250px;
}

.killsyou {
	border: 0;
	line-height: 9;
	padding: 0 20px;
	font-size: 3rem;
	text-align: center;
	color: red;
	text-shadow: 1px 1px 1px orange;
	border-radius: 100px;
	background-color: black;
	background-image: linear-gradient(
		to top left,
		rgb(0 0 0 / 0.2),
		rgb(0 0 0 / 0.2) 30%,
		transparent
    );
	box-shadow:
		inset 2px 2px 3px rgb(255 255 255 / 0.6), inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.killsyou:hover {
	background-color: gray;
}

.killsyou:active {
	box-shadow:
		inset -2px -2px 3px rgb(255 255 255 / 0.6), inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

.doesnt {
	border: 0;
	line-height: 9;
	padding: 0 20px;
	font-size: 3rem;
	text-aligh: center;
	color: green;
	text-shadow: 1px 1px 1px blue;
	border-radius: 100px;
	background-color: white;
	background-image: linear-gradient(
		to top left,
		rgb(0 0 0 / 0.2),
		rgb(0 0 0 / 0.2) 30%,
		transparent
    );
	box-shadow:
		inset 2px 2px 3px rgb(255 255 255 / 0.6), inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.doesnt:hover {
	background-color: rgb(200 200 200);
}

.doesnt:active {
	box-shadow:
		inset -2px -2px 3px rgb(255 255 255 / 0.6), inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

football {
	background-color: rgb(0 0 0);
	font-family: "Arial";
	font-size: 16px;
}

nine {
	color: rgb(200 25 25);
	text-align: left;
	padding-left: 200px;
	padding-left: 200px;
	
}

juice {
	color: rgb(180 140 0);
	text-align: left;
	padding-left: 400px;
}

ten {
	color: rgb(0 200 50);
	text-align: left;
	padding-left: 0px;
}